body {
  width: 300px;
  height: 120px;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
  background: transparent;
}

#background-img,
#background-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#background-img {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255),
      rgba(94, 91, 91),
      rgba(0, 0, 0)
    ),
    url("https://resources.tidal.com/images/da3ffd8c/9d80/4a0e/9aef/cfe0b2b5cc91/1080x1080.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#background-gradient {
}
