body {
  text-align: center;
  padding: 12px 25px;
  margin: 0;
  background: #303036;
  border: none;
  color: #fff;
  font-size: 14px;
  display: inline-block;
}

main,
#track-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex-direction: column;
}

#status-wrap {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.status-wrap-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

#artists,
.status-wrap-item > span {
  color: rgba(255, 255, 255, 0.6);
}

#track-info {
  display: grid;
  grid-gap: 6px;
  margin-left: 10px;
  padding: 2px;
  text-align: start;
  text-wrap: nowrap;
}

#title {
  font-weight: bold;
  color: #fff;
}

#quality {
  height: 22px;
  padding: 0 8px;
  border-radius: 8px;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  justify-self: start;
  display: flex;
  align-items: center;
}

.high {
  color: #3fe;
  background-color: #21feec1a;
}

.max {
  background-color: #ffd4321a;
  color: #ffd432;
}

.normal {
  color: fff;
  background-color: rgba(255, 255, 255, 0.3);
}
